# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
/node_modules

# Testing
/coverage

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Enviorment
*.env

# Temporary
/tmp

# Misc
.DS_Store
.vscode/
